@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";

@layer base {    
    *, ::before, ::after{
        @apply box-border;
        transition: all 0.3s;
    }    
    body {
        @apply p-0 m-0 font-workSans text-16 leading-26 font-wsReg text-richBlack;   
    }  
    .container-fluid{
        @apply px-55 laptop:px-35 mdscreen:px-30;
    }
    .container-small{
        @apply px-100 laptop:px-35 mdscreen:px-30;
    }
    ul{
        @apply list-none m-0 p-0;
    }
    a {
        @apply no-underline; 
    }
    a, button, input, textarea, select {
        @apply outline-0;
        box-shadow: none;
    }
    p{
        @apply m-0 text-16 leading-26 font-workSans font-wsReg;
    }
    img{
        @apply object-cover h-full w-full;
    }
    ul {
        @apply p-0 mt-0;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply m-0 font-interstate font-inBlack italic leading-auto uppercase;
    }
    h1, .h1 {
        @apply text-64 lgscreen:text-48; 
    } 
    h2, .h2 {
        @apply text-48 mb-14 lgscreen:text-32; 
    }
    h3, .h3 {
        @apply text-32 lgscreen:text-24; 
    }
    h4, .h4 {
        @apply text-24 lgscreen:text-20;
    }
    h5, .h5 {
        @apply text-20 lgscreen:text-16;
    }
    h6, .h6 {
        @apply text-16;
    } 
    .textAnim{
       @apply relative;
    }
    .section-title{
        @apply mb-40;
    }
    .section-title h2{
        @apply text-darkBlue;
    }
    .section-common-padding{
        @apply py-80 smscreen:py-55
    }
    .at-trio-slider{
        @apply px-55 mdscreen2:px-0 mdscreen2:pb-60;
    }
    .at-trio-slider .trio-navigation{
        @apply absolute bottom-0 left-0 right-0 flex items-center justify-center gap-40 hidden mdscreen2:flex;
    }
    .at-trio-slider .trio-navigation .swiper-button-prev,
    .at-trio-slider .trio-navigation .swiper-button-next{
        @apply relative left-inherit right-inherit top-inherit bottom-inherit m-0 h-20 w-20;
    }
    .at-trio-slider .trio-navigation  .swiper-button-next::after{
        content: '';
        background-image: url('../../images/arrow-point-to-right-dark.svg');
        @apply bg-contain h-20 w-20 right-0;
     }
     .at-trio-slider .trio-navigation  .swiper-button-prev::after{
        content: '';
        background-image: url('../../images/arrow-point-to-left-dark.svg');
        @apply bg-contain h-20 w-20 right-0;
     }
}

@layer components {  

    .at-image-banner{
        @apply flex items-center mdscreen:items-start;
    }
    .at-image-banner .content-section{
        @apply relative py-[77.4px] pl-100 pr-[212px] z-1 mdscreen:text-center mdscreen:pt-55 mdscreen:px-30 mdscreen:pb-[165px];
    }
    .at-image-banner .content-section .text-wrapper{
        @apply max-w-480 text-white mdscreen:m-auto mdscreen:max-w-full mdscreen:text-center;
    }
    .at-image-banner .content-section .text-wrapper h3{
        @apply font-inLgt mb-5;
    }
    .at-image-banner .content-section .text-wrapper p{
        @apply mb-14;
    }
    .at-image-banner .content-section::before{
        content: "";
        @apply absolute left-0 top-0 bottom-0 right-0 h-full w-full z-1_minus;
    }
    .at-image-banner.grey-bg .content-section::before{
        @apply bg-grey_gradient mdscreen:bg-grey_gradient_mobile;
    }
    .swiper-button-next::after{
       content: '';
       background-image: url('../../images/arrow-point-to-right.svg');
       @apply bg-contain h-20 w-20 right-0;
    }
    .swiper-button-next{
        @apply right-0;
    }
    .swiper-button-prev{
        @apply left-0;
    }
    .swiper-button-prev::after{
        content: '';
        background-image: url('../../images/arrow-point-to-left.svg');
        @apply  bg-contain h-20 w-20;
     }
     .swiper-pagination{
        @apply flex items-center justify-center h-20 w-[300px] !bottom-[40px];
     }
     .swiper-pagination .swiper-pagination-bullet{
        @apply h-15 w-15 opacity-[0.55] bg-white !mx-14 transition-all duration-300 ease-in-out;
     }
     .swiper-pagination .swiper-pagination-bullet-active{
        @apply opacity-100 transition-all duration-300 ease-in-out scale-[1.333];
     }
     .theme-btn{
        clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
        @apply py-10 pl-32 pr-31 bg-primary relative transition-common duration-300 ease-in-out text-16 font-wsBold leading-26 text-white inline-block capitalize z-1 max-w-fit overflow-hidden; 
     }
     .theme-btn::before{
        content: '';
        @apply absolute h-200pr w-200pr bottom-110% left-half bg-cream rounded-half translate-x-minus_50 transition-all duration-500 ease-linear z-1_minus;
     }
     .theme-btn:hover{
        /* clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%); */
        @apply text-primary;
     }
     .theme-btn:hover::before{
        @apply bottom-minus40pr;
     }
}
@layer utilities {  
    /* header start */
    .announcement-banner .content-wrapper{
        @apply overflow-hidden; 
    }
    .announcement-banner .swiper-slide .content-wrapper p{
        @apply text-16 font-wsBold leading-26 text-white translate-y-100pr transition-common duration-700 ease-linear; 
    }
    .announcement-banner .swiper-slide-active .content-wrapper p{
        @apply translate-y-0;
    }
    .announcement-banner .swiper-button-next,
    .announcement-banner .swiper-button-prev{
        @apply mdscreen:hidden;
    }
    .top-header{
        @apply px-55 laptop:px-35 mdscreen:px-10;
    }
    .at-header{
        @apply top-[54px] left-0 right-0 bg-white absolute z-9;
    }
    .top-navigation .top-bar-brand{
        @apply laptop:max-w-[180px];
    }
    .top-bar-menu ul li{
        @apply relative;
    }
    .top-bar-menu ul li a{
        @apply text-richBlack text-16 leading-26 font-wsBold capitalize py-53 block;
    }
    .top-bar-menu ul li.current-menu-item a, .top-bar-menu ul li a:hover, .top-bar-menu ul li a:focus, .top-bar-menu ul li:hover a{ 
        @apply text-primary;
    }
    .top-bar-menu ul li.menu-item-has-children .sub-menu{
        @apply absolute left-0 w-auto py-14 top-100%  bg-cream opacity-0 pointer-events-none transition-common translate-y-halfPx duration-300 ease-linear;
    }
    .top-bar-menu ul li.menu-item-has-children .sub-menu li a{
        @apply text-primary py-14 px-28 block whitespace-nowrap capitalize transition-backgroundColor duration-300 ease-in-out;
    }
    .top-bar-menu ul li.menu-item-has-children .sub-menu li a:hover{
        @apply text-white bg-primary transition-common;
    }
    .top-bar-menu ul li.menu-item-has-children:hover .sub-menu{
        @apply translate-y-0 pointer-events-auto opacity-100;
    }
    .top-navigation .top-bar-right .search-form{
        @apply relative w-[200px];
    }
    .top-navigation .top-bar-right .search-form input{
        @apply h-46 w-full border-primary border-1;
    }
    .accordian-menu{
        @apply fixed top-[193px] smscreen:top-[165px] shadow-menuShadow left-minus_100% right-0 w-full bg-cream py-20 z-2 transition-all duration-300 ease-in-out overflow-y-auto;
    }
    .accordian-menu.open{
        @apply left-0;
    }
    .accordian-menu .menu .menu-item a{
        @apply py-20 px-30 text-richBlack capitalize text-16 leading-26 font-wsBold block;
    }
    .accordian-menu .menu .menu-item .sub-menu{
        @apply bg-primary hidden transition-none;
    }
    .accordian-menu .menu .menu-item.menu-item-has-children a{
        @apply relative flex items-center justify-between;
    }
    .accordian-menu .menu .menu-item.menu-item-has-children a span{
        background-image: url('../../images/dropdown-arrow.svg');
        @apply h-15 w-15 bg-cover bg-bottom transition-all duration-200 ease-linear inline-block cursor-pointer;
    }
    .accordian-menu .menu .menu-item.menu-item-has-children.open a span{
        @apply bg-top;
    }
    .mobile-search{
        @apply fixed top-[193px] smscreen:top-[165px] shadow-menuShadow left-minus_100% right-0 w-full bg-cream py-20 px-30 z-2 transition-all duration-300 ease-in-out;
    }
    .mobile-search.open{
        @apply left-0;
    }
    .mobile-search .form-wrapper{
        @apply relative;
    }
    .mobile-search .form-wrapper .search_svg, .mobile-search .form-wrapper .close_svg, 
    .top-navigation .top-bar-right .search-form .search_svg, .top-navigation .top-bar-right .search-form .close_svg{
        @apply absolute object-contain;
    }
    .mobile-search .form-wrapper .search_svg,
    .top-navigation .top-bar-right .search-form .search_svg{
        @apply left-20 top-13 h-20 w-20;
    }
    .mobile-search .form-wrapper .close_svg,
    .top-navigation .top-bar-right .search-form .close_svg{
        @apply right-20 top-15 h-15 w-15;
    }
    .mobile-search .form-wrapper input,
    .top-navigation .top-bar-right .search-form input{
        @apply w-full h-46 border-primary rounded-none py-10 pl-50  text-16 leading-26 text-richBlack capitalize border-1;
    }
    .mobile-search .form-wrapper input::placeholder,
    .top-navigation .top-bar-right .search-form input::placeholder{
        @apply text-16 opacity-40 text-richBlack capitalize;
    }
    .top-navigation .top-bar-right .search-form{
        @apply w-44 border-0;
    }
    .top-navigation .top-bar-right .search-form input{
        @apply border-0;
    }
    .top-navigation .top-bar-right .search-form .search_svg{
        @apply cursor-pointer;
    } 
    .top-navigation .top-bar-right .search-form .close_svg{
        @apply opacity-0 cursor-pointer;
    } 
    .top-navigation .top-bar-right .search-form.open{
        @apply w-[200px];
    }
    .top-navigation .top-bar-right .search-form.open input{
        @apply border-1 pr-45;
    }
    .top-navigation .top-bar-right .search-form.open .close_svg{
        @apply opacity-100;
    }
    .accordian-menu .menu .menu-item .sub-menu li a{
        @apply text-white;
    }
    .responsive-menu .toggle_btn.active svg path,
    .responsive-menu .search-icon.active svg path{
        @apply fill-primary;
    }
    /* header end */

    /* hero banner start */
    .heroBanner {
        @apply h-800;
    }
    .heroBanner .image-wrapper {
        @apply relative h-full bg-cover bg-no-repeat bg-center;
    }

    .heroBanner .image-wrapper .content-wrapper{
        background: linear-gradient(270deg, #00274F 0%, rgba(0, 39, 79, 0.88) 49%, rgba(0, 39, 79, 0.72) 67%, rgba(0, 39, 79, 0.53) 83%, rgba(0, 39, 79, 0) 100%);
        @apply absolute top-[245px] right-0 pr-[85px] pl-[106px] pt-[56.5px] pb-[75.5px] bg-no-repeat bg-right-top bg-contain smscreen:top-[190px] lgscreen:pt-[52.5px] lgscreen:pb-[71.5px];
    }
    .heroBanner .swiper-slide:nth-child(even) .image-wrapper .content-wrapper{
        background: linear-gradient(90deg, #00274F 0%, rgba(0, 39, 79, 0.88) 49%, rgba(0, 39, 79, 0.72) 67%, rgba(0, 39, 79, 0.53) 83%, rgba(0, 39, 79, 0) 100%);
        @apply left-0 right-inherit top-[201px] pl-75 pt-[59.5px] smscreen:top-[175px];
    }
    .heroBanner .swiper-slide:last-child .image-wrapper .content-wrapper{
        @apply smscreen:top-[226px]; 
    }
    .heroBanner .image-wrapper .content-wrapper h1{
        @apply text-white italic mb-10 uppercase pr-[13px] translate-x-[58px] opacity-5 lgscreen:pr-0;
    }
    .heroBanner .image-wrapper .content-wrapper h2{
        @apply max-w-[694px] text-white font-inLgt mb-[31px] uppercase translate-x-[58px] opacity-5 lgscreen:m-auto lgscreen:mb-[28px];
    }
    .heroBanner .swiper-slide{
        @apply opacity-0;
    }

    .heroBanner .swiper-slide:nth-child(even) .image-wrapper .content-wrapper h1{
        @apply max-w-[740px];
    }
    .heroBanner .swiper-slid.swiper-slide-active {
        @apply opacity-100;
    }
    .heroBanner .swiper-slide-active .image-wrapper .content-wrapper h1,
    .heroBanner .swiper-slide-active .image-wrapper .content-wrapper h2,
    .heroBanner .swiper-slide-active .image-wrapper .content-wrapper .theme-btn{
        @apply translate-x-0 opacity-100 transform-none transition-common duration-500 ease-in-out;
    }
    .heroBanner .swiper-slide-active .image-wrapper .content-wrapper h2{
        @apply delay-75;
    }
    /* hero banner end */

    /* alpha swiper */
    .alphaSwiper .content-wrapper{
        @apply bg-alpha_Gradient p-20 flex flex-col items-center rounded-none rounded-tr-[124px] rounded-tl-[124px] text-center w-full h-full;
    }
    .alphaSwiper .swiper-slide{
        @apply w-[248px] h-auto mx-20;
    }
    .alphaSwiper .swiper-wrapper{
        @apply justify-center;
    }
    .alphaSwiper .content-wrapper .letter{
        @apply border-[10px] border-solid bg-primary border-grey rounded-[50%] relative flex items-center justify-center h-[208.4px] w-[208.4px] mb-28; 
    }
    .alphaSwiper .content-wrapper .letter h2{
        @apply text-white font-inBlack uppercase relative italic text-[155px] relative z-1;
    }
    .alphaSwiper .content-wrapper .letter span.letter-shadow{
        filter: blur(5px);
        @apply absolute text-darkBlue z-1_minus left-0 right-0;

    }
    .alphaSwiper .content-wrapper .title .h5{
        @apply text-white italic mb-10;
    }
    .alphaSwiper .content-wrapper .text-wrapper p{
        @apply text-white;
    }
    /* alpha swiper end */

    /* industry leader section */
    .leader-section .card-wrapper .image-wrapper{
        @apply h-570 relative mdscreen:h-[550px];
    }
    .leader-section .card-wrapper .image-wrapper .text-wrapper{
        @apply p-28 absolute bottom-0 left-0 right-0 text-center bg-primary/[0.91] text-white;
    }
    .leader-section .card-wrapper .image-wrapper .text-wrapper h3{
        @apply mb-10;
    }
    /* industry leader section end */

    /* our vision section start */
    .at-our-vision-section{
        @apply relative justify-center;
    }
    .at-our-vision-section::before{
        content: '';
        @apply absolute bg-richBlack left-0 right-0 bottom-0 top-0;
    }
    .at-our-vision-section .image-wrapper{
        @apply absolute left-0 right-0 top-0 bottom-0 opacity-20 mix-blend-soft-light;
    }
    .at-our-vision-section.at-image-banner .content-section .text-wrapper{
        @apply max-w-952 m-auto;
    }
    .at-our-vision-section.at-image-banner .content-section{
        @apply p-0;
    }
    /* our vision section end */

    /* latest-news-section */
    .latest-news-section.at-trio-slider{
        @apply px-100 desktop:px-55 mdscreen2:px-0;
    }
    .latest-news-section .card-wrapper{
        @apply text-center;
    }
    .latest-news-section .card-wrapper .image-wrapper{
        @apply h-280 mb-28;
    }
    .latest-news-section .card-wrapper .text-wrapper h4{
        @apply text-darkBlue mb-10;
    }
    .latest-news-section .card-wrapper .text-wrapper p{
        @apply text-richBlack mb-10;
    }
    /* latest-news-section end */

    /* partner section start */
    .partnerSwiper {
        @apply pl-100 mdscreen:pl-0;
    }
    .partnerSwiper .swiper-slide{
        @apply h-auto flex items-center justify-center;
    }
    .partnerSwiper .image-wrapper{
        @apply mdscreen:h-55;
    }
    .partnerSwiper .image-wrapper img{
        @apply object-contain;
    }
    /* partner section end */
    
    /* footer service section */
    .at-service-section{
        @apply grid grid-cols-2 desktop2:grid-cols-800px_1fr desktop:grid-cols-2 mdscreen:block;
    }
    .at-service-section .image-section{
        @apply mdscreen:h-[200px];
    }
    .at-service-section .customer-service h2{
        @apply text-darkBlue;
    }
    /*techyscouts start*/
    #techyscouts-logo {
        @apply inline-block fill-white h-[21px] w-auto align-middle;
    }

    .techyscouts-credit-link #techyscouts-logo-heart {
        @apply fill-primary;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-heart,
    .techyscouts-credit-link:focus #techyscouts-logo-heart {
        animation: ts-heart-beat 2s infinite ease-in-out 0.6s; 
    }

    .techyscouts-credit-link:hover #techyscouts-logo-text,
    .techyscouts-credit-link:focus #techyscouts-logo-text {
        animation: ts-draw-logo 2s forwards;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-line-1,
    .techyscouts-credit-link:hover #techyscouts-logo-line-2,
    .techyscouts-credit-link:focus #techyscouts-logo-line-1,
    .techyscouts-credit-link:focus #techyscouts-logo-line-2 {
        animation: ts-swoop-down 0.5s forwards ease-out;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-line-2,
    .techyscouts-credit-link:focus #techyscouts-logo-line-2 {
        animation-name: ts-swoop-up; 
    }

    @keyframes ts-heart-beat {
        5% {
            transform: scale(1.1);
            fill: white;
        }

        10% {
            transform: scale(0.9);
        }

        15% {
            transform: scale(1.2);
            fill: white;
        }

        40% {
            transform: scale(1);
            stroke-width: 0;
        }
    }

    @keyframes ts-draw-logo {
        0% {
            stroke-dasharray: 2600;
            stroke-dashoffset: 2600;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes ts-swoop-down {
        0% {
            transform: translateY(-100%) rotate(10deg);
        }
    }

    @keyframes ts-swoop-up {
        0% {
            transform: translateY(100%) rotate(-10deg);
        }
    }
    /*techyscouts end*/

    /* footer service section end*/

    /* footer start */
    .footer{
        @apply text-white;
    }
    .footer .subscribe-section h3{
        @apply font-inLgt mb-5;
    }
    .footer .subscribe-section h2{
        @apply mb-20;
    }
    .footer .menu-wrapper .menu .menu-item a{
        @apply text-white uppercase;
    }
    .footer .menu-wrapper .menu .menu-item a:hover{
        @apply text-[#4795e6];
    }
    .footer .menu-wrapper .helpful-links{
        @apply mt-70 mdscreen:mt-55;
    }
    .footer .menu-wrapper .helpful-links .social-media ul li a{
        @apply inline-block h-40 w-40 transition-common duration-300 ease-linear;
    }
    .footer .menu-wrapper .helpful-links .social-media ul li a:hover{
        @apply scale-[0.7];
    }
    .subscribe-form form .gform_body input{
        @apply w-full h-46 border-primary rounded-none py-10 px-20  text-16 leading-26 text-richBlack capitalize border-2 border-solid;
    }
    .subscribe-form form .gform_body input::placeholder{
        @apply text-16 opacity-40 text-richBlack capitalize;
    }
    .subscribe-form form{
        @apply relative max-w-[429px] desktop:max-w-[350px] mdscreen:m-auto;
    }
    .subscribe-form form .gform_footer{
        @apply absolute top-0 left-[94%] mdscreen:relative mdscreen:top-inherit mdscreen:left-inherit mdscreen:mt-20;
    }
    .subscribe-form form .gform_footer input[type=submit]{
        clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
        @apply py-8 pl-32 pr-31 bg-primary relative transition-common duration-300 ease-in-out text-16 font-wsBold leading-26 text-white inline-block capitalize z-1 max-w-fit overflow-hidden cursor-pointer border-2 border-primary border-solid; 
    }
    .subscribe-form form .gform_footer input[type=submit]:hover{
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
        @apply bg-cream text-primary;
    }
    /* footer end */
}     

/* Responsive CSS Start */
@screen maxscreen {

}
@screen desktop2 {

}
@screen desktop {
    .alphaSwiper .swiper-slide{
        @apply w-[212px] mx-15;
    }
    .alphaSwiper .content-wrapper .letter{
        @apply h-150 w-150
    }
    .alphaSwiper .content-wrapper .letter h2{
        @apply text-[96px];
    }
}
@screen laptop {

}
@screen 1299{
    .top-navigation{
        @apply py-28
    }
    .responsive-menu .toggle_btn{
        @apply h-20 w-20;
    }
}
@screen xlscreen {
    .alphaSwiper .swiper-slide {
        @apply m-0;
    }
    .alphaSwiper .swiper-slide .content-wrapper{
        @apply max-w-[212px] m-auto;
    }
}
@screen lgscreen {
    .heroBanner .image-wrapper .content-wrapper,
    .heroBanner .swiper-slide:nth-child(odd) .image-wrapper .content-wrapper{
        @apply bg-none bg-dakBlue_8 left-0 text-center px-30 right-0 left-0;
    }
    .heroBanner .swiper-slide:nth-child(odd) .image-wrapper .content-wrapper h1 {
        @apply m-auto mb-10;
    }
}
@screen mdscreen2 {

}
@screen mdscreen {
    .at-transport-section{
        background-image:url('../../images/transport-bg-mobile.jpg') !important;
        @apply bg-no-repeat h-745 bg-bottom;
    }
}
@screen smscreen2 {

}
@screen smscreen {
    .responsive-menu .nav-brand{
        @apply max-w-[176px] h-55;
    }
    .responsive-menu .nav-brand img{
        @apply object-contain;
    }
}
@screen xsscreen2 {

}
@screen xsscreen {
    
}   
/* Responsive CSS End */
